html {
    background-color: whitesmoke;
}

body {
    width: 100vw;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    display: flex;
}

header {
    border: 1px solid;
    text-align: center;
    line-height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url("https://github.com/Hoon1999/hoon1999.github.io/assets/100833901/7d29a40a-dee0-406c-abfc-4e9dd7403afb");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: fixed;
}

section {
    height: auto;
    margin-left: 0%;
    float: none;
    margin-top: 0vh;
}

.page-card {
    background-color: white;
    border: 1px solid gray;
    padding: 15px;
}
tr>a {
    text-decoration: none;
    color: inherit;
}
footer {
    height: 10vh;
    background-color: #F2F2F2;
}

h2,
h3,
h4 {
    margin: 0px;
}


#imageWrapper {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 15px;
}

#imageWrapper>img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}
th {
    width: 25%;
}
td {
    text-align: center;
}
#profile td {
    text-align: left;
}

aside {
    width: 200px;
    margin-top: 13vh;
    position: sticky;
    top: 13vh;
    height: 200px;
}

.toc-list>a {
    text-decoration: none;
    color: inherit;
}

.toc-item {
    list-style: none;
}

.toc-item.selected {
    font-weight: bold;
}